@import url('../node_modules/@fortawesome/fontawesome-free/css/fontawesome.min.css');

#app-body {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: #232324;
}

#login-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

#navbar {
  position: fixed;
  width: 100vw;
}

#shopping-list-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

